
    <footer class="bg-light mt-5">
			<div class="container">
				<div class="row">
					<div class=" col-md-8 col-sm-8">
						<ul class="footerul list-unstyled mt-4">
							<li><a class="nav-link" href="/">主页</a></li>
							<li><a class="nav-link" href="/articles">笔记</a></li>
							<li><a class="nav-link" href="/about">关于</a></li>
							<li><a class="nav-link" href="/contact">联系我们</a></li>
						</ul>
						<p style="text-align: center;" class="m-2">地址：哈尔滨信息工程学院</p>
						<p style="text-align: center;">电话:020-785456215&nbsp;&nbsp;传真：020-98-895412230</p>
					</div>
					<div class="col-md-4 col-sm-4 d-none d-sm-block mt-3">
						<img src="/static/img/flask.png" alt="" style="width: 100px; height: 100px;">
					</div>
				</div>
			</div>
		</footer>
