<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
{% extends 'layout.html' %}
{% block body %}
  <div class="pass"></div>
    <div class="box">
        <div class="container">
            <div class="top">
                <div class="left">
                    <a href="/about"> 关于我们</a>
                </div>
                <div class="right">
                    <a href="/contact"> 联系我们</a>
                </div>

            </div>
            <div class="content2">
                <div class="list row">

                    <div class="item col-md-6  col-sm-6 col-6 text-center">
                        <img src="/static/img/kf.png" alt="" class="text-xl-center">
                        <div class="right  text-center">
                            <p class="title">
                                在线客服
                            </p>
                            <a href="" class="hover-btn">在线咨询</a>
                            <p class="kfsj">服务时间:9:00-11:30,13:00-18:00</p>
                        </div>
                    </div>
                    <div class="item col-md-6 col-sm-6 col-6 text-center">
                        <img src="/static/img/email.png" alt="">
                        <div class="right  text-center">
                            <p class="title">
                                发个邮件
                            </p>
                            <span>
                                <a href="">hxx@qq.com</a>
                            </span>

                        </div>
                    </div>
                    <div class="item  col-md-6 col-sm-6 col-6 text-center">
                        <img src="/static/img/qyhz.png" alt="">
                        <div class="right  text-center">
                            <p class="title">
                                企业合作
                            </p>
                            <span>
                                <a href="">hxx@qq.com</a>
                            </span>

                        </div>
                    </div>
                    <div class="item  col-md-6 col-sm-6 col-6 text-center">
                        <img src="/static/img/wx.png" alt="">
                        <div class="right  text-center">
                            <p class="title">
                                微信公众号
                            </p>
                            <a href="" class="hover-btn">
                                <span>扫码关注</span>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
